@import url(https://fonts.googleapis.com/css?family=Open+Sans);

#myVideo{
	position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
<<<<<<< HEAD
html{
	height: 100%;
  margin: 0;
  padding: 0;
}
=======
>>>>>>> f503fa49703689ed06242a3ea0dbe66de62eb86a
body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative
}

.form-control{
  float: left;
  width: 100%;
  border: 1px solid #000000;
  padding: 5px;
<<<<<<< HEAD
  height: 55px;
=======
  height: 45px;
>>>>>>> f503fa49703689ed06242a3ea0dbe66de62eb86a
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
	font-size: 25px;
}

.form-control:focus{
  color: #00B4CC;
}

.searchButton {
  position: absolute;
  right: -40px;
  width: 40px;
<<<<<<< HEAD
  height: 55px;
=======
  height: 45px;
>>>>>>> f503fa49703689ed06242a3ea0dbe66de62eb86a
  border: 1px solid #000000;
  background: #000000;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size:20px;
}

.wrap{
  width: 50%;
  position: absolute;
  top: 40%;
  left: 46%;
  transform: translate(-50%, -50%);
	z-index: 10;
}

.search-drop-down{
  width: 50%;
	position: absolute;
	left:21%;
	top:45%;
}

.dark-modal .modal-content {
	background-color: #292b2c;
	color: white;
}
.dark-modal .close {
	color: white;
}
.light-blue-backdrop {
	background-color: #5cb3fd;
}
.btn btn-danger{
	justify-content: center;
<<<<<<< HEAD
}
.myImageSet{
     height:100%;
		 width:100%;
		 max-width: 100%;
		 max-height: 100%;
=======

>>>>>>> f503fa49703689ed06242a3ea0dbe66de62eb86a
}
